

* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: roboto , sans-serif;

}

h1  {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-family: roboto , sans-serif;
  align-items: center;

}
/* Boxes */
.boxes {
  display: flex;
}
.text {
  text-align: justify;
  font-family: roboto;
  font-size: 15px;
  margin: 40px 10px 10px 10px;
}
.box-title {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: roboto;
  margin-bottom: : 0px;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  width: 25%;
  height: 25%;
  float: right;
}
.style01 {
  background-color: pink;
}
.style02 {
background-color: red;
color: white;
}
.style03 {
  background-color: yellow;
}

.box-one {
  background-color: #d3d3d3;
  width: 30%;
  height: 30%;
  border: 5px solid black;
  margin: 10px 10px 10px 30px;
  padding: 0px 0px 2px 2px;
}
.box-two {
  background-color: #d3d3d3;
  width: 30%;
  height: 30%;
  border: 5px solid black;
  margin: 10px 10px 10px 30px;
  padding: 0px 0px 2px 2px;
}
.box-three {
  background-color: #d3d3d3;
  width: 30%;
  height: 30%;
  border: 5px solid black;
  margin: 10px 10px 10px 30px;
  padding: 0px 0px 2px 2px;
}


@media only screen and (max-width: 767px) {
  .boxes {
    display: block;
    }
  .box-one, .box-two, .box-three{
    width: 80%;
    height: 20%;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    }
    .box-title {
      width: auto;
      height: auto;
    }

    .box-one, .box-two, .box-three{
      width: auto;
      height: auto;
    }
    .box-one {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    .box-three {
      grid-column-start: 1;
      grid-column-end: -1;
      width: auto;
    }
}
